@using Shop.Web.Models.ProductViewModels;
@model ProductViewModel
@{
    ViewBag.Title = "AddNewProduct";
}

<h2>Меню добавления товара</h2>
@using (Html.BeginForm("AddNewProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col">
        <label for="Name">@Html.DisplayNameFor(model => model.Name)</label><br />
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name)<br />

        <label for="Description">@Html.DisplayNameFor(model => model.Description)</label><br />
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description)<br />

        <label for="Price">@Html.DisplayNameFor(model => model.Price)</label><br />
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new {@class = "form-control", @pattern = @"^([0-9]{0,5}((,)[0-9]{0,2}))$" } })
        @Html.ValidationMessageFor(model => model.Price)<br /><br />
    </div>
    @*<input type="hidden" value="@Model.States" name="States" />
    <input type="hidden" value="@Model.Categories" name="Categories" />*@

    <table>
        <tr>
            <td class="col">
                <label>@Html.DisplayNameFor(model => model.Category)</label><br />
                <select name="Category.Id" class="custom-select">
                    <option disable>Выберите категорию</option>
                    @foreach (var category in Model.Categories)
                    {
                        if (Model.Category != null)
                        {
                            if (Model.Category.Id == category.Id)
                            {
                                <option selected value="@category.Id">@category.Name</option>
                                continue;
                            }
                        }
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </td>
            <td class="col">
                <label for="">@Html.DisplayNameFor(model => model.State)</label><br />
                <select name="State.Id" class="custom-select">
                    <option disable>Выберите состояние</option>
                    @foreach (var state in Model.States)
                    {
                        if (Model.Category != null)
                        {
                            if (Model.State.Id == state.Id)
                            {
                                <option selected value="@state.Id">@state.Name</option>
                                continue;
                            }
                        }
                        <option value="@state.Id">@state.Name</option>
                    }
                </select>
            </td>
        </tr>
    </table><br />


    <label for="Country">Страна</label><br />
    @Html.EditorFor(model => model.Location.Country.Name, new { htmlAttributes = new { @class = "form-control" } });<br /><br />

    <label for="City">Город</label><br />
    @Html.EditorFor(model => model.Location.City.Name, new { htmlAttributes = new { @class = "form-control" } });<br /><br />

    <label for="Address">Адрес</label><br />
    @Html.EditorFor(model => model.Location.Address.Name, new { htmlAttributes = new { @class = "form-control" } });<br /><br />

    <div class="form-group">
        <div style="position:relative;">
            <label>Картинка</label>
            <a class='btn' href='javascript:;'>
                Выберите файл...
                <input type="file" name="image" size="40"
                       style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                       onchange='$("#upload-file-info").html($(this).val());'>
            </a>
            <span class='label label-info' id="upload-file-info"></span>
        </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Добавить</button>
}
