@using Shop.Web.Models.ProductViewModels

@{
    ViewBag.Title = "EditProduct";
}

<h2>EditProduct</h2>

@using (Html.BeginForm("EditUSer", "Admin", FormMethod.Post))
{
    <label for="">@Html.DisplayNameFor(model => model)</label><br />
    @Html.EditorFor(model => model);
    @Html.ValidationMessageFor(model => model);<br /><br />

    <label for="">@Html.DisplayNameFor(model => model)</label><br />
    @Html.EditorFor(model => model);
    @Html.ValidationMessageFor(model => model);<br /><br />
}