@using Shop.Web.Models;
@using Shop.Shared.Entities.Authorize;
@using Shop.Shared.Entities.Enums;
@model SearchViewModel
@{
    ViewBag.Title = "Товары";
    var currentUser = User as UserPrinciple;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h3>Поиск товара</h3>


        @using (Html.BeginForm("ShowSearchList", "Product", FormMethod.Post))
        {
            @Html.EditorFor(model => model.Name)
            <button class="btn waves-effect waves-light" type="submit" name="action">Найти</button>
            @Html.ValidationMessageFor(model => model.Name) <br />
            <select name="State.Id">
                <option disable>Выберите состояние</option>
                @foreach (var state in ViewBag.States)
                {
                    if (Model.State != null)
                    {
                        if (Model.State.Id == state.Id)
                        {
                        <option selected value="@state.Id">@state.Name</option>
                            continue;
                        }
                    }
                    <option value="@state.Id">@state.Name</option>
                }
            </select>
            <select name="Category.Id">
                <option disable>Выберите категорию</option>
                @foreach (var category in ViewBag.Categories)
                {
                    if (Model.Category != null)
                    {
                        if (Model.Category.Id == category.Id)
                        {
                        <option selected value="@category.Id">@category.Name</option>
                            continue;
                        }
                    }
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        }

        <br />
        <table>
            <tr>
                <td><b>Название</b></td>
                <td><b>Категория</b></td>
            </tr>
            @foreach (var product in ViewBag.Products)
            {
                <tr>
                    <td width="150px"><p>@product.Name</p></td>
                    <td width="150px"><p>@product.Category.Name</p></td>
                    <td>
                        <form action="~/Product/ShowProductInfo">
                            <div>
                                <button type="submit">Открыть</button>
                                <input type="hidden" value="@product.Id" name="id" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
