
@{
    ViewBag.Title = "Информация о продукте";
}

<h2>Информация о продукте</h2>
<div>
    <p>@ViewBag.Product.Id</p>
    <p>@ViewBag.Product.Name</p>
    <p>@ViewBag.Product.Description</p>
    <p>@ViewBag.Product.Author.Login</p>
    <p>@Session["Product"]</p>
</div>
<form action="~/Product/BuyProduct">
    <button></button>
    <input type="hidden" value="@ViewBag.Product.Id"/>
</form>