
@{
    ViewBag.Title = "Товары";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин</title>
</head>
<body>
    <div>
        <h3>@ViewBag.Message</h3>
        <br />
        <table>
            <tr>
                <td width="150px"><b>Название товара</b></td>
                <td width="150px"><b>Категория</b></td>
                <td width="50px"><b>Цена</b></td>
                <td></td>
            </tr>
            @foreach (var product in ViewBag.Products)
            {
                <tr style="height:50px">
                    <td><p>@product.Name</p></td>
                    <td><p>@product.Category.Name</p></td>
                    <td><p>@product.Price</p></td>
                    <td>
                        <form action="~/Product/ShowProductInfo">
                            <div>
                                <button class="btn waves-effect waves-light" type="submit">Открыть</button>
                                <input type="hidden" value="@product.Id" name="id" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
