@using Shop.Web.Models.ProductViewModels;
@using Shop.Shared.Entities.Images;
@model ProductListViewModel
@{
    ViewBag.Title = "Товары";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин</title>
</head>
<body>
    <div>
        <h3>@ViewBag.Message</h3>
        <br />
        @foreach (var product in Model.Products)
        {
            <div class="well" style="width: 70%">
                @if (product.Images != null && product.Images.Count > 0)
                {
                    <div class="pull-left">
                        @Html.Raw("<img class=\"img - thumbnail\" width=\"75\" height=\"75\";' src=\"data:image/jpeg;base64,"
                            + Convert.ToBase64String(product.Images.First<Image>().Data) + "\" />")
                    </div>
                }
                <div style="padding-left:15%">
                    <h4>
                        <strong>@product.Name</strong>
                        <span class="pull-right label label-primary">@product.Price.ToString("# шпрэксов")</span>
                    </h4>
                    <span class="lead">@product.Description</span>

                    <form action="~/Product/ShowProductInfo">
                        <div>
                            <button class="btn waves-effect waves-light" type="submit">Открыть</button>
                            <input type="hidden" value="@product.Id" name="id" />
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</body>
</html>
