
@{
    ViewBag.Title = "Информация о продукте";
}

<h2>Информация о продукте</h2>
<div>
    <p>@ViewBag.Product.Id</p>
    <p>@ViewBag.Product.Name</p>
    <p>@ViewBag.Product.Description</p>
    <p>@ViewBag.Product.Author.Login</p>
    <p>@Session["Product"]</p>
</div>



<div style="width:400px;">
    <div style="float: left; width: 130px">
        <form action="~/Product/BuyProduct">
            <button>Купить</button>
            <input type="hidden" value="@ViewBag.Product.Id" />
        </form>
    </div>
    <div style="float: right; width: 225px">
        <input type="button" onclick="history.back();" value="Назад" />
    </div>
</div>
