@using Shop.Shared.Entities.Authorize;
@using Shop.Shared.Entities.Enums;
@{
    ViewBag.Title = "Информация о продукте";
    var user = User as UserPrinciple;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин</title>
</head>
<body>
    <h2>Информация о товаре</h2>
    <table>
        <tr><td><p>Название : </p></td><td>@ViewBag.Product.Name</td></tr>
        <tr><td><p>Описание : </p></td><td>@ViewBag.Product.Description</td></tr>
        <tr>
            <td>
                Продавец :
            </td>
            <td>
                <form action="~/User/ShowUser">
                    <input type="hidden" value="@ViewBag.Product.Author.Login" name="login" />
                    <button style="border:none" type="submit">@ViewBag.Product.Author.Login</button>
                </form>
            </td>
        </tr>
        <tr><td><p>Категория : </p></td><td>@ViewBag.Product.Category.Name</td></tr>
        <tr><td><p>Состояние : </p></td><td>@ViewBag.Product.State.Name</td></tr>
    </table>




    <div style="width:400px;">
        @if (Request.IsAuthenticated)
        {
            <div style="float: left; width: 130px">
                <form action="~/Product/BuyProduct">
                    <button class="btn waves-effect waves-light">Купить</button>
                    <input type="hidden" value="@ViewBag.Product.Id" name="id" />
                </form>
                @if (user.IsInRole(RoleType.Administrator.ToString()) || user.IsInRole(RoleType.Moderator.ToString()))
                {
                    <form action="~/Admin/EditProduct">
                        <button class="btn waves-effect waves-light">Редактировать</button>
                        <input type="hidden" value="@ViewBag.Product.Id" name="id" />
                    </form>
                }
                else if (ViewBag.Product.Author.Id == user.UserId)
                {
                    <form action="~/Product/EditProduct">
                        <button class="btn waves-effect waves-light">Редактировать</button>
                        <input type="hidden" value="@ViewBag.Product.Id" name="id" />
                    </form>
                }
            </div>
        }
        @if (user.UserId == ViewBag.Product.Author.Id || user.IsInRole(RoleType.Administrator.ToString()) || user.IsInRole(RoleType.Moderator.ToString()))
        {
            <form action="~/Product/Delete" style="color:crimson">
                <input type="hidden" value="@ViewBag.Product.Id" name="id" />
                <button class="btn waves-effect waves-light" type="submit">Удалить*</button>
            </form>
        }


        <div style="float: right; width: 225px">
            <input class="btn waves-effect waves-light" type="button" onclick="history.back();" value="Назад" />
        </div>
    </div>
</body>
</html>