@using Shop.Web.Models;
@model EditUserViewModel
@{
    ViewBag.Title = "AdminEdit";
}

<h2>Редактирование профиля</h2>
@using (Html.BeginForm("EditUser", "User", FormMethod.Post))
{
    <label for="Email">@Html.DisplayNameFor(model => model.Email)</label><br />
    @Html.EditorFor(model => model.Email);
    @Html.ValidationMessageFor(model => model.Email);<br /><br />

    <label for="Password">@Html.DisplayNameFor(model => model.Password)</label><br />
    @Html.EditorFor(model => model.Password);
    @Html.ValidationMessageFor(model => model.Password);<br /><br />

    <label for="PasswordConfirm">@Html.DisplayNameFor(model => model.PhoneNumber)</label><br />
    @Html.EditorFor(model => model.PhoneNumber);
    @Html.ValidationMessageFor(model => model.PhoneNumber);

    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="hidden" value="@Model.Login" name="Login" />
    <input type="hidden" value="@Model.Role" name="Role"/>
    <br /><br />

    <button class="btn waves-effect waves-light" type="submit" name="action">Сохранить изменения</button>
}

