@using Shop.Shared.Entities.Authorize;

@{
    var user = User as UserPrinciple;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Информация о пользователе</h2>
    <table>
        <tr><td width="150px"><p>Логин : </p></td><td>@ViewBag.User.Login</td></tr>
        <tr><td width="150px"><p>Почта : </p></td><td>@ViewBag.User.Email</td></tr>
        <tr><td width="150px"><p>Роль : </p></td><td>@ViewBag.User.Role</td></tr>
        <tr><td width="150px"><p>Телефон : </p></td><td>@ViewBag.User.PhoneNumber</td></tr>
    </table>


    <table>
        <tr>
            <td>
                @if (user != null)
                {
                    <form action="~/User/SendMessage">
                        <button class="btn waves-effect waves-light">Отправить сообщение</button>
                        <input type="hidden" value="@ViewBag.User.Id" name="id" />
                    </form>
                }
            </td>
            <td>
                <input class="btn waves-effect waves-light" type="button" onclick="history.back();" value="Назад" />
            </td>
            <td>
                <form action="~/Product/ShowByUserId">
                    <button class="btn waves-effect waves-light">Товары</button>
                    <input type="hidden" value="@ViewBag.User.Id" name="id" />
                </form>
            </td>
        </tr>
    </table>

</body>
</html>