@using Shop.Web.Models;
@using Shop.Shared.Entities.Authorize;
@model UserViewModel
@{
    ViewBag.Title = "Личный кабинет";
    var user = User as UserPrinciple;
}
<h2>Личный кабинет</h2>
<table>
    <tr><td>Логин: </td><td>@Model.Login</td></tr>
    <tr><td>Почта: </td><td>@Model.Email</td></tr>
    <tr><td>Номер телефона: </td><td>@Model.PhoneNumber</td></tr>
    <tr><td>Роль: </td><td>@Model.Role</td></tr>
    <tr>
        <td>
            <input class="btn waves-effect waves-light" type="button" onclick="history.back();" value="Назад" />
        </td>
        <td>
            <form action="~/Product/AddNewProduct">
                <button class="btn waves-effect waves-light" type="submit">Добавить товар</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="~/Product/ShowByUserId">
                <input type="hidden" value="@user.UserId" name="id" />
                <button class="btn waves-effect waves-light" type="submit">Мои товары</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="~/User/Delete" style="color:crimson">
                <input type="hidden" value="@user.UserId" name="id" />
                <button class="btn waves-effect waves-light" type="submit">Удалить*</button>
            </form>
        </td>
    </tr>
</table>
