@using Shop.Web.Models;
@model EditUserViewModel
@{
    ViewBag.Title = "AddUser";
}

<h2>Добавление нового пользователя</h2>
@using (Html.BeginForm("AddNewUser", "Admin", FormMethod.Post))
{
    <label for="Login">@Html.DisplayNameFor(model => model.Login)</label><br />
    @Html.EditorFor(model => model.Login);
    @Html.ValidationMessageFor(model => model.Login);<br /><br />

    <label for="Email">@Html.DisplayNameFor(model => model.Email)</label><br />
    @Html.EditorFor(model => model.Email);
    @Html.ValidationMessageFor(model => model.Email);<br /><br />

    <label for="Password">@Html.DisplayNameFor(model => model.Password)</label><br />
    @Html.EditorFor(model => model.Password);
    @Html.ValidationMessageFor(model => model.Password);<br /><br />

    <label for="PasswordConfirm">@Html.DisplayNameFor(model => model.PhoneNumber)</label><br />
    @Html.EditorFor(model => model.PhoneNumber);
    @Html.ValidationMessageFor(model => model.PhoneNumber);

    <input type="hidden" value="@Model.Id" name="Id" />
    <br /><br />

    <label for="Role">@Html.DisplayNameFor(model => model.Role)</label><br />
    <select name="Role">
        <option disable>Выберите роль</option>
        @foreach (var role in ViewBag.Roles)
        {
            <option value="@role.ToString()">@role</option>
        }
    </select><br /><br />

    <button class="btn waves-effect waves-light" type="submit" name="action">Добавить</button>
}

